<h1><%= t(".heading") %></h1>

<p><%= t(".page_description") %></p>

<p><%= link_to I18n.t(".navigation.helpers.back"), root_path %></p>

<ul>
<% categories.each do |category| %>
  <li><%= link_to category.name, category_path(category) %></li>
<% end %>
</ul>
