<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%- html_class = field.taglike_input? ? "unrestricted" : "restricted_options" %>
  <% debugger %>
  <%= f.select(
    field.attribute,
    nil,
    {include_hidden: false},
    {multiple: true, class: html_class}
  ) do %>
   <%= options_for_select(field.collection_options, field.selected_options) %>
  <% end %>
</div>
