<div>
  <h2><%= link_to post.title, post_path(post) %></h2>
  <p><%= post.published_at %></p>
  <p><%= truncate(post.content, length: 200, separator: ' ') { link_to t(".keep_reading"), post_path(post) }%></p>
</div>
