<h1><%= category.name %></h1>

<p><%= t(".page_description", name: category.name) %></p>

<p><%= link_to t(".navigation.helpers.back"), categories_path %>

<% posts.each do |post| %>
  <%= render "posts/blog_post", post: post %>
<% end %>
